<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
<body>
	<main id="vueApp">
	<header class="background" style="background-image: url('images/heroImg.jpg')">
		<nav class="flex">
			<h1><a href="">TEST</a></h1>
			<button id="menu"></button>
			<button id="close"></button>
			<div class="menu-full flex">
				<a href="">Home</a>	
				<a href="">Features</a>	
				<a href="">Pages</a>	
				<a href="">Blog</a>	
				<a href="">Contact</a>
				<a id="btn-login" href="">Login</a>
				<a id="btn-search" href=""><i class="fas fa-search"></i></a>
			</div>
		</nav>

		<div class="infoWrapper flex">
			<div class="info">
				<h2>BMW X4</h2>
				<h3>$110,000 • 05-2016 • 0 miles • 190 kw (255 hp)</h3>
			</div>
		</div>
	</header>

	<!-- ============================ -->
	<!-- F O R M -->
	<!-- ============================ -->
	<section class="form">
		<form class="flex-wrap container container-lg container-md container-sm">
			<div class="wrapper col-lg-6 col-md-6">
				<select id="make">
					<option v-for="make in dropdownMake" :value="make.value" :data-make="make.value">{{make.name}}</option>
				</select>
			</div>

			<div class="wrapper col-lg-6 col-md-6">
				<select id="model">
					<option v-for="model in dropdownModel" :value="model.value" :data-model="model.value">{{model.name}}</option>
				</select>
			</div>

			<div class="wrapper col-lg-6 col-md-6">
				<input type="date" name="date" placeholder="First date of registration" />
			</div>

			<div class="wrapper col-lg-6 col-md-6">
				<select id="mileage">
					<option v-for="miles in dropdownMileage" :value="miles.value" :data-miles="miles.value">{{miles.name}}</option>
				</select>
			</div>

			<div class="wrapper col-lg-6 col-md-6">
				<select id="price">
					<option v-for="price in dropdownPrice" :value="price.value" :data-price="price.value">{{price.name}}</option>
				</select>
			</div>

			<!-- button group -->
			<div class="btn-group wrapper col-lg-6 col-md-6" role="group" aria-label="btnGroup">
				<button id="btnSubmit" class="btn btn-danger">Show Results</button>
				<button id="btnAll" class="btn btn-light">Show All</button>
				<button id="btnReset" class="btn btn-light">Reset</button>
			</div>
		</form>
	</section>

	<!-- Grid/List/Sort -->
	<section class="btnRow container">
		<button id="btnGrid" class="btn btn-light"></button>
		<button id="btnList" class="btn btn-light"></button>
		<select id="dropdownSort" class="btn btn-light">
			<option v-for="sort in dropdownSort" :value="sort.value">{{sort.name}}</option>
		</select>
	</section>

	<!-- ============================ -->
	<!-- C A R S (GRID) -->
	<!-- ============================ -->
	<section id="productGrid" class="grid flex-wrap container container-lg container-md container-sm">
		<!-- Car 1 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="volkswagen" data-model="Golf 2.5l" data-img="images/car.jpg" data-miles="30000" data-price="22000" data-speed="130" data-date="07-2015" data-num="1">
			<div class="wrapper">
				<span class="sold">Sold</span>
				<figure class="background flex" style="background-image: url('images/car.jpg')">
					<p>$22,000</p>
				</figure>
				<article>
					<h3>Volkswagen Golf 2.5l</h3>
					<label class="date">07-2015</label>
					<label class="mileage">30,000 miles</label>
					<label class="speed">130 kw (175 hp)</label>
				</article>
			</div>
		</div>

		<!-- Car 2 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="subaru" data-model="WRX" data-img="images/sti.jpg" data-miles="10000" data-price="28500" data-speed="250" data-date="07-2015" data-num="2">
			<div class="wrapper">
				<figure class="background flex" style="background-image: url('images/sti.jpg')">
					<p>$28,500</p>
				</figure>
				<article>
					<h3>Subaru WRX</h3>
					<label class="date">01-2016</label>
					<label class="mileage">10,000 miles</label>
					<label class="speed">250 kw (335 hp)</label>
				</article>
			</div>
		</div>

		<!-- Car 3 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="infinity" data-model="Q50" data-img="images/infinity.jpg" data-miles="0" data-price="35000" data-speed="190" data-date="05-2016" data-num="3">
			<div class="wrapper">
				<span class="sold">Sold</span>
				<figure class="background flex" style="background-image: url('images/infinity.jpg')">
					<p>$35,000</p>
				</figure>
				<article>
					<h3>Infinity Q50</h3>
					<label class="date">05-2016</label>
					<label class="mileage">0 miles</label>
					<label class="speed">190 kw (255 hp)</label>
				</article>
			</div>
		</div>

		<!-- Car 4 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="mercedes-benz" data-model="ML (AWD)" data-img="images/benz.jpg" data-miles="75000" data-price="36000" data-speed="210" data-date="09-2014" data-num="4">
			<div class="wrapper">
				<figure class="background flex" style="background-image: url('images/benz.jpg')">
					<p>$36,000</p>
				</figure>
				<article>
					<h3>Mercedes Benz ML (AWD)</h3>
					<label class="date">09-2014</label>
					<label class="mileage">75,000 miles</label>
					<label class="speed">210 kw (282 hp)</label>
				</article>
			</div>
		</div>

		<!-- Car 5 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="volvo" data-model="V40 Cross Country" data-img="images/volvo.jpg" data-miles="0" data-price="42000" data-speed="110" data-date="05-2016" data-num="5">
			<div class="wrapper">
				<figure class="background flex" style="background-image: url('images/volvo.jpg')">
					<p>$42,000</p>
				</figure>
				<article>
					<h3>Volvo V40 Cross Country</h3>
					<label class="date">05-2016</label>
					<label class="mileage">0 miles</label>
					<label class="speed">110 kw (150 hp)</label>
				</article>
			</div>
		</div>

		<!-- Car 6 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="audi" data-model="TT RS" data-img="images/audi.jpg" data-miles="10000" data-price="45000" data-speed="185" data-date="03-2016" data-num="6">
			<div class="wrapper">
				<figure class="background flex" style="background-image: url('images/audi.jpg')">
					<p>$45,000</p>
				</figure>
				<article>
					<h3>Audi TT RS</h3>
					<label class="date" data-date="">03-2016</label>
					<label class="mileage" data-miles="">10,000 miles</label>
					<label class="speed" data-speed="">185 kw (248 hp)</label>
				</article>
			</div>
		</div>

		<!-- Car 7 -->
		<div class="cols col-lg-4 col-md-6 col-sm-12 col-xs-12" data-make="audi" data-model="R8" data-img="images/audi-r8.jpg" data-miles="5000" data-price="70000" data-speed="449" data-date="03-2018" data-num="7">
			<div class="wrapper">
				<figure class="background flex" style="background-image: url('images/audi-r8.jpg')">
					<p>$70,000</p>
				</figure>
				<article>
					<h3>Audi R8</h3>
					<label class="date" data-date="">03-2018</label>
					<label class="mileage" data-miles="">5,000 miles</label>
					<label class="speed" data-speed="">449 kw (602 hp)</label>
				</article>
			</div>
		</div>		
	</section>

	<div class="paginationRow">
		<button id="btnPrevious" class="btn btn-light" disabled></button>
		<!-- <button class="btn btn-light">1</button> -->
		<button id="btnNext" class="btn btn-light"></button>
	</div>

	<!-- ============================ -->
	<!-- B A N N E R -->
	<!-- ============================ -->
	<section class="banner flex-wrap">
		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h3>25</h3>
			<h4>Years in Business</h4>
		</article>

		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h3>1,000+</h3>
			<h4>Cars Sold</h4>
		</article>

		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h3>98%</h3>
			<h4>Customer Satisfaction</h4>
		</article>

		<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h3>10,000+</h3>
			<h4>Registered Users</h4>
		</article>
	</section>

	<!-- ============================ -->
	<!-- P O S T S -->
	<!-- ============================ -->
	<section class="posts container container-lg container-md container-sm">
		<h2 class="title-block">Latest Car News</h2>
		<div class="grid flex-wrap">
			<!-- Post 1 -->
			<div class="cols cols col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wrapper">
					<figure class="background flex" style="background-image: url('images/audi.jpg')">
					</figure>
					<article>
						<h3>50 years of pony-car style</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus nibh non posuere finibus. Cras non augue rhoncus, feugiat arcu et,</p>

						<div class="authorBlock">
							<figure><img src="images/dp.png" alt="John Doe" /></figure>
							<h5>By John Doe</h5>
						</div>						
					</article>
				</div>
			</div>

			<!-- Post 2 -->
			<div class="cols cols col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wrapper">
					<figure class="background flex" style="background-image: url('images/car.jpg')">
					</figure>
					<article>
						<h3>Because 600 hp is not enough</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus nibh non posuere finibus. Cras non augue rhoncus, feugiat arcu et,</p>

						<div class="authorBlock">
							<figure><img src="images/dp.png" alt="John Doe" /></figure>
							<h5>By John Doe</h5>
						</div>
					</article>
				</div>
			</div>
		</div>

		<button id="btnSubmitVehicle" class="btn btn-outline-danger">Submit your vehicle</button>
	</section>

	<!-- ============================ -->
	<!-- F O O T E R -->
	<!-- ============================ -->
	<footer>
		<div class="footerWrap flex-wrap">
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 contact">
				<h2>Car Dealer Inc.</h2>
				<p>Address: 1 Fantasy Road, 10100 CarHaven, USA</p>
				<p>Phone: 0800 555 123 456</p>
				<p>Email: info@yourcompany.com</p>
				<div class="socialMedia flex">
					<a href="https://www.facebook.com/" target="_blank" class="fb"></a>
					<a href="https://twitter.com/" target="_blank" class="tw"></a>
					<a href="http://www.google.com/" target="_blank" class="gp"></a>
					<a href="https://www.linkedin.com/" target="_blank" class="ln"></a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 hours">
				<h2>Opening Hours</h2>
				<div class="flex">
					<ul class="col-lg-6">
						<li>Monday</li>
						<li>Tuesday</li>
						<li>Wednesday</li>
						<li>Thursday</li>
						<li>Friday</li>
						<li>Saturday</li>
						<li>Sunday</li>
					</ul>

					<ul class="col-lg-6">
						<li>9:00 - 18:00</li>
						<li>9:00 - 18:00</li>
						<li>9:00 - 18:00</li>
						<li>9:00 - 18:00</li>
						<li>9:00 - 18:00</li>
						<li>9:00 - 12:00</li>
						<li>closed</li>
					</ul>
				</div>
				
			</div>

			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 subscribe">
				<h2>Get the best deals first</h2>
				<span class="inputFrame flex">
					<input v-model="txtEmail" type="email" placeholder="Your email address" /><button class="btn btn-danger" @click="btnSubscribe()">Subscribe</button>
				</span>
				<p>No worries. We won't spam, promise.</p>
				
			</div>
		</div>
		<div class="footer-bottom">
			Copyright © 2016 by Car Dealer Inc.
		</div>
	</footer>
	</main>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/script.js"></script>
</html>